:root {
  --c-m-red-light5: #ffebee;
  --c-m-red-light4: #ffcdd2;
  --c-m-red-light3: #ef9a9a;
  --c-m-red-light2: #e57373;
  --c-m-red-light1: #ef5350;
  --c-m-red: #f44336;
  --c-m-red-dark1: #e53935;
  --c-m-red-dark2: #d32f2f;
  --c-m-red-dark3: #c62828;
  --c-m-red-dark4: #b71c1c;
  --c-m-red-accent1: #ff8a80;
  --c-m-red-accent2: #ff5252;
  --c-m-red-accent3: #ff1744;
  --c-m-red-accent4: #d50000;
  --c-m-pink-light5: #fce4ec;
  --c-m-pink-light4: #f8bbd0;
  --c-m-pink-light3: #f48fb1;
  --c-m-pink-light2: #f06292;
  --c-m-pink-light1: #ec407a;
  --c-m-pink: #e91e63;
  --c-m-pink-dark1: #d81b60;
  --c-m-pink-dark2: #c2185b;
  --c-m-pink-dark3: #ad1457;
  --c-m-pink-dark4: #880e4f;
  --c-m-pink-accent1: #ff80ab;
  --c-m-pink-accent2: #ff4081;
  --c-m-pink-accent3: #f50057;
  --c-m-pink-accent4: #c51162;
  --c-m-purple-light5: #f3e5f5;
  --c-m-purple-light4: #e1bee7;
  --c-m-purple-light3: #ce93d8;
  --c-m-purple-light2: #ba68c8;
  --c-m-purple-light1: #ab47bc;
  --c-m-purple: #9c27b0;
  --c-m-purple-dark1: #8e24aa;
  --c-m-purple-dark2: #7b1fa2;
  --c-m-purple-dark3: #6a1b9a;
  --c-m-purple-dark4: #4a148c;
  --c-m-purple-accent1: #ea80fc;
  --c-m-purple-accent2: #e040fb;
  --c-m-purple-accent3: #d500f9;
  --c-m-purple-accent4: #aa00ff;
  --c-m-deep-purple-light5: #ede7f6;
  --c-m-deep-purple-light4: #d1c4e9;
  --c-m-deep-purple-light3: #b39ddb;
  --c-m-deep-purple-light2: #9575cd;
  --c-m-deep-purple-light1: #7e57c2;
  --c-m-deep-purple: #673ab7;
  --c-m-deep-purple-dark1: #5e35b1;
  --c-m-deep-purple-dark2: #512da8;
  --c-m-deep-purple-dark3: #4527a0;
  --c-m-deep-purple-dark4: #311b92;
  --c-m-deep-purple-accent1: #b388ff;
  --c-m-deep-purple-accent2: #7c4dff;
  --c-m-deep-purple-accent3: #651fff;
  --c-m-deep-purple-accent4: #6200ea;
  --c-m-indigo-light5: #e8eaf6;
  --c-m-indigo-light4: #c5cae9;
  --c-m-indigo-light3: #9fa8da;
  --c-m-indigo-light2: #7986cb;
  --c-m-indigo-light1: #5c6bc0;
  --c-m-indigo: #3f51b5;
  --c-m-indigo-dark1: #3949ab;
  --c-m-indigo-dark2: #303f9f;
  --c-m-indigo-dark3: #283593;
  --c-m-indigo-dark4: #1a237e;
  --c-m-indigo-accent1: #8c9eff;
  --c-m-indigo-accent2: #536dfe;
  --c-m-indigo-accent3: #3d5afe;
  --c-m-indigo-accent4: #304ffe;
  --c-m-blue-light5: #e3f2fd;
  --c-m-blue-light4: #bbdefb;
  --c-m-blue-light3: #90caf9;
  --c-m-blue-light2: #64b5f6;
  --c-m-blue-light1: #42a5f5;
  --c-m-blue: #2196f3;
  --c-m-blue-dark1: #1e88e5;
  --c-m-blue-dark2: #1976d2;
  --c-m-blue-dark3: #1565c0;
  --c-m-blue-dark4: #0d47a1;
  --c-m-blue-accent1: #82b1ff;
  --c-m-blue-accent2: #448aff;
  --c-m-blue-accent3: #2979ff;
  --c-m-blue-accent4: #2962ff;
  --c-m-light-blue-light5: #e1f5fe;
  --c-m-light-blue-light4: #b3e5fc;
  --c-m-light-blue-light3: #81d4fa;
  --c-m-light-blue-light2: #4fc3f7;
  --c-m-light-blue-light1: #29b6f6;
  --c-m-light-blue: #03a9f4;
  --c-m-light-blue-dark1: #039be5;
  --c-m-light-blue-dark2: #0288d1;
  --c-m-light-blue-dark3: #0277bd;
  --c-m-light-blue-dark4: #01579b;
  --c-m-light-blue-accent1: #80d8ff;
  --c-m-light-blue-accent2: #40c4ff;
  --c-m-light-blue-accent3: #00b0ff;
  --c-m-light-blue-accent4: #0091ea;
  --c-m-cyan-light5: #e0f7fa;
  --c-m-cyan-light4: #b2ebf2;
  --c-m-cyan-light3: #80deea;
  --c-m-cyan-light2: #4dd0e1;
  --c-m-cyan-light1: #26c6da;
  --c-m-cyan: #00bcd4;
  --c-m-cyan-dark1: #00acc1;
  --c-m-cyan-dark2: #0097a7;
  --c-m-cyan-dark3: #00838f;
  --c-m-cyan-dark4: #006064;
  --c-m-cyan-accent1: #84ffff;
  --c-m-cyan-accent2: #18ffff;
  --c-m-cyan-accent3: #00e5ff;
  --c-m-cyan-accent4: #00b8d4;
  --c-m-teal-light5: #e0f2f1;
  --c-m-teal-light4: #b2dfdb;
  --c-m-teal-light3: #80cbc4;
  --c-m-teal-light2: #4db6ac;
  --c-m-teal-light1: #26a69a;
  --c-m-teal: #009688;
  --c-m-teal-dark1: #00897b;
  --c-m-teal-dark2: #00796b;
  --c-m-teal-dark3: #00695c;
  --c-m-teal-dark4: #004d40;
  --c-m-teal-accent1: #a7ffeb;
  --c-m-teal-accent2: #64ffda;
  --c-m-teal-accent3: #1de9b6;
  --c-m-teal-accent4: #00bfa5;
  --c-m-green-light5: #e8f5e9;
  --c-m-green-light4: #c8e6c9;
  --c-m-green-light3: #a5d6a7;
  --c-m-green-light2: #81c784;
  --c-m-green-light1: #66bb6a;
  --c-m-green: #4caf50;
  --c-m-green-dark1: #43a047;
  --c-m-green-dark2: #388e3c;
  --c-m-green-dark3: #2e7d32;
  --c-m-green-dark4: #1b5e20;
  --c-m-green-accent1: #b9f6ca;
  --c-m-green-accent2: #69f0ae;
  --c-m-green-accent3: #00e676;
  --c-m-green-accent4: #00c853;
  --c-m-light-green-light5: #f1f8e9;
  --c-m-light-green-light4: #dcedc8;
  --c-m-light-green-light3: #c5e1a5;
  --c-m-light-green-light2: #aed581;
  --c-m-light-green-light1: #9ccc65;
  --c-m-light-green: #8bc34a;
  --c-m-light-green-dark1: #7cb342;
  --c-m-light-green-dark2: #689f38;
  --c-m-light-green-dark3: #558b2f;
  --c-m-light-green-dark4: #33691e;
  --c-m-light-green-accent1: #ccff90;
  --c-m-light-green-accent2: #b2ff59;
  --c-m-light-green-accent3: #76ff03;
  --c-m-light-green-accent4: #64dd17;
  --c-m-lime-light5: #f9fbe7;
  --c-m-lime-light4: #f0f4c3;
  --c-m-lime-light3: #e6ee9c;
  --c-m-lime-light2: #dce775;
  --c-m-lime-light1: #d4e157;
  --c-m-lime: #cddc39;
  --c-m-lime-dark1: #c0ca33;
  --c-m-lime-dark2: #afb42b;
  --c-m-lime-dark3: #9e9d24;
  --c-m-lime-dark4: #827717;
  --c-m-lime-accent1: #f4ff81;
  --c-m-lime-accent2: #eeff41;
  --c-m-lime-accent3: #c6ff00;
  --c-m-lime-accent4: #aeea00;
  --c-m-yellow-light5: #fffde7;
  --c-m-yellow-light4: #fff9c4;
  --c-m-yellow-light3: #fff59d;
  --c-m-yellow-light2: #fff176;
  --c-m-yellow-light1: #ffee58;
  --c-m-yellow: #ffeb3b;
  --c-m-yellow-dark1: #fdd835;
  --c-m-yellow-dark2: #fbc02d;
  --c-m-yellow-dark3: #f9a825;
  --c-m-yellow-dark4: #f57f17;
  --c-m-yellow-accent1: #ffff8d;
  --c-m-yellow-accent2: #ffff00;
  --c-m-yellow-accent3: #ffea00;
  --c-m-yellow-accent4: #ffd600;
  --c-m-amber-light5: #fff8e1;
  --c-m-amber-light4: #ffecb3;
  --c-m-amber-light3: #ffe082;
  --c-m-amber-light2: #ffd54f;
  --c-m-amber-light1: #ffca28;
  --c-m-amber: #ffc107;
  --c-m-amber-dark1: #ffb300;
  --c-m-amber-dark2: #ffa000;
  --c-m-amber-dark3: #ff8f00;
  --c-m-amber-dark4: #ff6f00;
  --c-m-amber-accent1: #ffe57f;
  --c-m-amber-accent2: #ffd740;
  --c-m-amber-accent3: #ffc400;
  --c-m-amber-accent4: #ffab00;
  --c-m-orange-light5: #fff3e0;
  --c-m-orange-light4: #ffe0b2;
  --c-m-orange-light3: #ffcc80;
  --c-m-orange-light2: #ffb74d;
  --c-m-orange-light1: #ffa726;
  --c-m-orange: #ff9800;
  --c-m-orange-dark1: #fb8c00;
  --c-m-orange-dark2: #f57c00;
  --c-m-orange-dark3: #ef6c00;
  --c-m-orange-dark4: #e65100;
  --c-m-orange-accent1: #ffd180;
  --c-m-orange-accent2: #ffab40;
  --c-m-orange-accent3: #ff9100;
  --c-m-orange-accent4: #ff6d00;
  --c-m-deep-orange-light5: #fbe9e7;
  --c-m-deep-orange-light4: #ffccbc;
  --c-m-deep-orange-light3: #ffab91;
  --c-m-deep-orange-light2: #ff8a65;
  --c-m-deep-orange-light1: #ff7043;
  --c-m-deep-orange: #ff5722;
  --c-m-deep-orange-dark1: #f4511e;
  --c-m-deep-orange-dark2: #e64a19;
  --c-m-deep-orange-dark3: #d84315;
  --c-m-deep-orange-dark4: #bf360c;
  --c-m-deep-orange-accent1: #ff9e80;
  --c-m-deep-orange-accent2: #ff6e40;
  --c-m-deep-orange-accent3: #ff3d00;
  --c-m-deep-orange-accent4: #dd2c00;
  --c-m-brown-light5: #efebe9;
  --c-m-brown-light4: #d7ccc8;
  --c-m-brown-light3: #bcaaa4;
  --c-m-brown-light2: #a1887f;
  --c-m-brown-light1: #8d6e63;
  --c-m-brown: #795548;
  --c-m-brown-dark1: #6d4c41;
  --c-m-brown-dark2: #5d4037;
  --c-m-brown-dark3: #4e342e;
  --c-m-brown-dark4: #3e2723;
  --c-m-gray-light5: #fafafa;
  --c-m-gray-light4: #f5f5f5;
  --c-m-gray-light3: #eeeeee;
  --c-m-gray-light2: #e0e0e0;
  --c-m-gray-light1: #bdbdbd;
  --c-m-gray: #9e9e9e;
  --c-m-gray-dark1: #757575;
  --c-m-gray-dark2: #616161;
  --c-m-gray-dark3: #424242;
  --c-m-gray-dark4: #212121;
  --c-m-blue-gray-light5: #eceff1;
  --c-m-blue-gray-light4: #cfd8dc;
  --c-m-blue-gray-light3: #b0bec5;
  --c-m-blue-gray-light2: #90a4ae;
  --c-m-blue-gray-light1: #78909c;
  --c-m-blue-gray: #607d8b;
  --c-m-blue-gray-dark1: #546e7a;
  --c-m-blue-gray-dark2: #455a64;
  --c-m-blue-gray-dark3: #37474f;
  --c-m-blue-gray-dark4: #263238;
  --c-d-gray-light2: #4a4c51;
  --c-d-gray-light1: #424549;
  --c-d-gray: #36393e;
  --c-d-gray-dark1: #2e3136;
  --c-d-gray-dark2: #282b30;
  --c-d-gray-dark3: #1e2124;
  --c-d-red: #f04747;
  --c-d-green: #43b581;
  --c-d-blue: #7289da;
  --c-d-orange: #faa61a;
  --c-d-deep-orange: #f26522;
  --c-d-light-gray: #99aab5;
  --c-black: #000000;
  --c-white: #ffffff;
  --c-transparent: transparent;
}
.m-red.light5 {
  background-color: var(--c-m-red-light5);
}
.m-red-txt.t-light5 {
  color: var(--c-m-red-light5);
}
.m-red.light4 {
  background-color: var(--c-m-red-light4);
}
.m-red-txt.t-light4 {
  color: var(--c-m-red-light4);
}
.m-red.light3 {
  background-color: var(--c-m-red-light3);
}
.m-red-txt.t-light3 {
  color: var(--c-m-red-light3);
}
.m-red.light2 {
  background-color: var(--c-m-red-light2);
}
.m-red-txt.t-light2 {
  color: var(--c-m-red-light2);
}
.m-red.light1 {
  background-color: var(--c-m-red-light1);
}
.m-red-txt.t-light1 {
  color: var(--c-m-red-light1);
}
.m-red {
  background-color: var(--c-m-red);
}
.m-red-txt {
  color: var(--c-m-red);
}
.m-red.dark1 {
  background-color: var(--c-m-red-dark1);
}
.m-red-txt.t-dark1 {
  color: var(--c-m-red-dark1);
}
.m-red.dark2 {
  background-color: var(--c-m-red-dark2);
}
.m-red-txt.t-dark2 {
  color: var(--c-m-red-dark2);
}
.m-red.dark3 {
  background-color: var(--c-m-red-dark3);
}
.m-red-txt.t-dark3 {
  color: var(--c-m-red-dark3);
}
.m-red.dark4 {
  background-color: var(--c-m-red-dark4);
}
.m-red-txt.t-dark4 {
  color: var(--c-m-red-dark4);
}
.m-red.accent1 {
  background-color: var(--c-m-red-accent1);
}
.m-red-txt.t-accent1 {
  color: var(--c-m-red-accent1);
}
.m-red.accent2 {
  background-color: var(--c-m-red-accent2);
}
.m-red-txt.t-accent2 {
  color: var(--c-m-red-accent2);
}
.m-red.accent3 {
  background-color: var(--c-m-red-accent3);
}
.m-red-txt.t-accent3 {
  color: var(--c-m-red-accent3);
}
.m-red.accent4 {
  background-color: var(--c-m-red-accent4);
}
.m-red-txt.t-accent4 {
  color: var(--c-m-red-accent4);
}
.m-pink.light5 {
  background-color: var(--c-m-pink-light5);
}
.m-pink-txt.t-light5 {
  color: var(--c-m-pink-light5);
}
.m-pink.light4 {
  background-color: var(--c-m-pink-light4);
}
.m-pink-txt.t-light4 {
  color: var(--c-m-pink-light4);
}
.m-pink.light3 {
  background-color: var(--c-m-pink-light3);
}
.m-pink-txt.t-light3 {
  color: var(--c-m-pink-light3);
}
.m-pink.light2 {
  background-color: var(--c-m-pink-light2);
}
.m-pink-txt.t-light2 {
  color: var(--c-m-pink-light2);
}
.m-pink.light1 {
  background-color: var(--c-m-pink-light1);
}
.m-pink-txt.t-light1 {
  color: var(--c-m-pink-light1);
}
.m-pink {
  background-color: var(--c-m-pink);
}
.m-pink-txt {
  color: var(--c-m-pink);
}
.m-pink.dark1 {
  background-color: var(--c-m-pink-dark1);
}
.m-pink-txt.t-dark1 {
  color: var(--c-m-pink-dark1);
}
.m-pink.dark2 {
  background-color: var(--c-m-pink-dark2);
}
.m-pink-txt.t-dark2 {
  color: var(--c-m-pink-dark2);
}
.m-pink.dark3 {
  background-color: var(--c-m-pink-dark3);
}
.m-pink-txt.t-dark3 {
  color: var(--c-m-pink-dark3);
}
.m-pink.dark4 {
  background-color: var(--c-m-pink-dark4);
}
.m-pink-txt.t-dark4 {
  color: var(--c-m-pink-dark4);
}
.m-pink.accent1 {
  background-color: var(--c-m-pink-accent1);
}
.m-pink-txt.t-accent1 {
  color: var(--c-m-pink-accent1);
}
.m-pink.accent2 {
  background-color: var(--c-m-pink-accent2);
}
.m-pink-txt.t-accent2 {
  color: var(--c-m-pink-accent2);
}
.m-pink.accent3 {
  background-color: var(--c-m-pink-accent3);
}
.m-pink-txt.t-accent3 {
  color: var(--c-m-pink-accent3);
}
.m-pink.accent4 {
  background-color: var(--c-m-pink-accent4);
}
.m-pink-txt.t-accent4 {
  color: var(--c-m-pink-accent4);
}
.m-purple.light5 {
  background-color: var(--c-m-purple-light5);
}
.m-purple-txt.t-light5 {
  color: var(--c-m-purple-light5);
}
.m-purple.light4 {
  background-color: var(--c-m-purple-light4);
}
.m-purple-txt.t-light4 {
  color: var(--c-m-purple-light4);
}
.m-purple.light3 {
  background-color: var(--c-m-purple-light3);
}
.m-purple-txt.t-light3 {
  color: var(--c-m-purple-light3);
}
.m-purple.light2 {
  background-color: var(--c-m-purple-light2);
}
.m-purple-txt.t-light2 {
  color: var(--c-m-purple-light2);
}
.m-purple.light1 {
  background-color: var(--c-m-purple-light1);
}
.m-purple-txt.t-light1 {
  color: var(--c-m-purple-light1);
}
.m-purple {
  background-color: var(--c-m-purple);
}
.m-purple-txt {
  color: var(--c-m-purple);
}
.m-purple.dark1 {
  background-color: var(--c-m-purple-dark1);
}
.m-purple-txt.t-dark1 {
  color: var(--c-m-purple-dark1);
}
.m-purple.dark2 {
  background-color: var(--c-m-purple-dark2);
}
.m-purple-txt.t-dark2 {
  color: var(--c-m-purple-dark2);
}
.m-purple.dark3 {
  background-color: var(--c-m-purple-dark3);
}
.m-purple-txt.t-dark3 {
  color: var(--c-m-purple-dark3);
}
.m-purple.dark4 {
  background-color: var(--c-m-purple-dark4);
}
.m-purple-txt.t-dark4 {
  color: var(--c-m-purple-dark4);
}
.m-purple.accent1 {
  background-color: var(--c-m-purple-accent1);
}
.m-purple-txt.t-accent1 {
  color: var(--c-m-purple-accent1);
}
.m-purple.accent2 {
  background-color: var(--c-m-purple-accent2);
}
.m-purple-txt.t-accent2 {
  color: var(--c-m-purple-accent2);
}
.m-purple.accent3 {
  background-color: var(--c-m-purple-accent3);
}
.m-purple-txt.t-accent3 {
  color: var(--c-m-purple-accent3);
}
.m-purple.accent4 {
  background-color: var(--c-m-purple-accent4);
}
.m-purple-txt.t-accent4 {
  color: var(--c-m-purple-accent4);
}
.m-deep-purple.light5 {
  background-color: var(--c-m-deep-purple-light5);
}
.m-deep-purple-txt.t-light5 {
  color: var(--c-m-deep-purple-light5);
}
.m-deep-purple.light4 {
  background-color: var(--c-m-deep-purple-light4);
}
.m-deep-purple-txt.t-light4 {
  color: var(--c-m-deep-purple-light4);
}
.m-deep-purple.light3 {
  background-color: var(--c-m-deep-purple-light3);
}
.m-deep-purple-txt.t-light3 {
  color: var(--c-m-deep-purple-light3);
}
.m-deep-purple.light2 {
  background-color: var(--c-m-deep-purple-light2);
}
.m-deep-purple-txt.t-light2 {
  color: var(--c-m-deep-purple-light2);
}
.m-deep-purple.light1 {
  background-color: var(--c-m-deep-purple-light1);
}
.m-deep-purple-txt.t-light1 {
  color: var(--c-m-deep-purple-light1);
}
.m-deep-purple {
  background-color: var(--c-m-deep-purple);
}
.m-deep-purple-txt {
  color: var(--c-m-deep-purple);
}
.m-deep-purple.dark1 {
  background-color: var(--c-m-deep-purple-dark1);
}
.m-deep-purple-txt.t-dark1 {
  color: var(--c-m-deep-purple-dark1);
}
.m-deep-purple.dark2 {
  background-color: var(--c-m-deep-purple-dark2);
}
.m-deep-purple-txt.t-dark2 {
  color: var(--c-m-deep-purple-dark2);
}
.m-deep-purple.dark3 {
  background-color: var(--c-m-deep-purple-dark3);
}
.m-deep-purple-txt.t-dark3 {
  color: var(--c-m-deep-purple-dark3);
}
.m-deep-purple.dark4 {
  background-color: var(--c-m-deep-purple-dark4);
}
.m-deep-purple-txt.t-dark4 {
  color: var(--c-m-deep-purple-dark4);
}
.m-deep-purple.accent1 {
  background-color: var(--c-m-deep-purple-accent1);
}
.m-deep-purple-txt.t-accent1 {
  color: var(--c-m-deep-purple-accent1);
}
.m-deep-purple.accent2 {
  background-color: var(--c-m-deep-purple-accent2);
}
.m-deep-purple-txt.t-accent2 {
  color: var(--c-m-deep-purple-accent2);
}
.m-deep-purple.accent3 {
  background-color: var(--c-m-deep-purple-accent3);
}
.m-deep-purple-txt.t-accent3 {
  color: var(--c-m-deep-purple-accent3);
}
.m-deep-purple.accent4 {
  background-color: var(--c-m-deep-purple-accent4);
}
.m-deep-purple-txt.t-accent4 {
  color: var(--c-m-deep-purple-accent4);
}
.m-indigo.light5 {
  background-color: var(--c-m-indigo-light5);
}
.m-indigo-txt.t-light5 {
  color: var(--c-m-indigo-light5);
}
.m-indigo.light4 {
  background-color: var(--c-m-indigo-light4);
}
.m-indigo-txt.t-light4 {
  color: var(--c-m-indigo-light4);
}
.m-indigo.light3 {
  background-color: var(--c-m-indigo-light3);
}
.m-indigo-txt.t-light3 {
  color: var(--c-m-indigo-light3);
}
.m-indigo.light2 {
  background-color: var(--c-m-indigo-light2);
}
.m-indigo-txt.t-light2 {
  color: var(--c-m-indigo-light2);
}
.m-indigo.light1 {
  background-color: var(--c-m-indigo-light1);
}
.m-indigo-txt.t-light1 {
  color: var(--c-m-indigo-light1);
}
.m-indigo {
  background-color: var(--c-m-indigo);
}
.m-indigo-txt {
  color: var(--c-m-indigo);
}
.m-indigo.dark1 {
  background-color: var(--c-m-indigo-dark1);
}
.m-indigo-txt.t-dark1 {
  color: var(--c-m-indigo-dark1);
}
.m-indigo.dark2 {
  background-color: var(--c-m-indigo-dark2);
}
.m-indigo-txt.t-dark2 {
  color: var(--c-m-indigo-dark2);
}
.m-indigo.dark3 {
  background-color: var(--c-m-indigo-dark3);
}
.m-indigo-txt.t-dark3 {
  color: var(--c-m-indigo-dark3);
}
.m-indigo.dark4 {
  background-color: var(--c-m-indigo-dark4);
}
.m-indigo-txt.t-dark4 {
  color: var(--c-m-indigo-dark4);
}
.m-indigo.accent1 {
  background-color: var(--c-m-indigo-accent1);
}
.m-indigo-txt.t-accent1 {
  color: var(--c-m-indigo-accent1);
}
.m-indigo.accent2 {
  background-color: var(--c-m-indigo-accent2);
}
.m-indigo-txt.t-accent2 {
  color: var(--c-m-indigo-accent2);
}
.m-indigo.accent3 {
  background-color: var(--c-m-indigo-accent3);
}
.m-indigo-txt.t-accent3 {
  color: var(--c-m-indigo-accent3);
}
.m-indigo.accent4 {
  background-color: var(--c-m-indigo-accent4);
}
.m-indigo-txt.t-accent4 {
  color: var(--c-m-indigo-accent4);
}
.m-blue.light5 {
  background-color: var(--c-m-blue-light5);
}
.m-blue-txt.t-light5 {
  color: var(--c-m-blue-light5);
}
.m-blue.light4 {
  background-color: var(--c-m-blue-light4);
}
.m-blue-txt.t-light4 {
  color: var(--c-m-blue-light4);
}
.m-blue.light3 {
  background-color: var(--c-m-blue-light3);
}
.m-blue-txt.t-light3 {
  color: var(--c-m-blue-light3);
}
.m-blue.light2 {
  background-color: var(--c-m-blue-light2);
}
.m-blue-txt.t-light2 {
  color: var(--c-m-blue-light2);
}
.m-blue.light1 {
  background-color: var(--c-m-blue-light1);
}
.m-blue-txt.t-light1 {
  color: var(--c-m-blue-light1);
}
.m-blue {
  background-color: var(--c-m-blue);
}
.m-blue-txt {
  color: var(--c-m-blue);
}
.m-blue.dark1 {
  background-color: var(--c-m-blue-dark1);
}
.m-blue-txt.t-dark1 {
  color: var(--c-m-blue-dark1);
}
.m-blue.dark2 {
  background-color: var(--c-m-blue-dark2);
}
.m-blue-txt.t-dark2 {
  color: var(--c-m-blue-dark2);
}
.m-blue.dark3 {
  background-color: var(--c-m-blue-dark3);
}
.m-blue-txt.t-dark3 {
  color: var(--c-m-blue-dark3);
}
.m-blue.dark4 {
  background-color: var(--c-m-blue-dark4);
}
.m-blue-txt.t-dark4 {
  color: var(--c-m-blue-dark4);
}
.m-blue.accent1 {
  background-color: var(--c-m-blue-accent1);
}
.m-blue-txt.t-accent1 {
  color: var(--c-m-blue-accent1);
}
.m-blue.accent2 {
  background-color: var(--c-m-blue-accent2);
}
.m-blue-txt.t-accent2 {
  color: var(--c-m-blue-accent2);
}
.m-blue.accent3 {
  background-color: var(--c-m-blue-accent3);
}
.m-blue-txt.t-accent3 {
  color: var(--c-m-blue-accent3);
}
.m-blue.accent4 {
  background-color: var(--c-m-blue-accent4);
}
.m-blue-txt.t-accent4 {
  color: var(--c-m-blue-accent4);
}
.m-light-blue.light5 {
  background-color: var(--c-m-light-blue-light5);
}
.m-light-blue-txt.t-light5 {
  color: var(--c-m-light-blue-light5);
}
.m-light-blue.light4 {
  background-color: var(--c-m-light-blue-light4);
}
.m-light-blue-txt.t-light4 {
  color: var(--c-m-light-blue-light4);
}
.m-light-blue.light3 {
  background-color: var(--c-m-light-blue-light3);
}
.m-light-blue-txt.t-light3 {
  color: var(--c-m-light-blue-light3);
}
.m-light-blue.light2 {
  background-color: var(--c-m-light-blue-light2);
}
.m-light-blue-txt.t-light2 {
  color: var(--c-m-light-blue-light2);
}
.m-light-blue.light1 {
  background-color: var(--c-m-light-blue-light1);
}
.m-light-blue-txt.t-light1 {
  color: var(--c-m-light-blue-light1);
}
.m-light-blue {
  background-color: var(--c-m-light-blue);
}
.m-light-blue-txt {
  color: var(--c-m-light-blue);
}
.m-light-blue.dark1 {
  background-color: var(--c-m-light-blue-dark1);
}
.m-light-blue-txt.t-dark1 {
  color: var(--c-m-light-blue-dark1);
}
.m-light-blue.dark2 {
  background-color: var(--c-m-light-blue-dark2);
}
.m-light-blue-txt.t-dark2 {
  color: var(--c-m-light-blue-dark2);
}
.m-light-blue.dark3 {
  background-color: var(--c-m-light-blue-dark3);
}
.m-light-blue-txt.t-dark3 {
  color: var(--c-m-light-blue-dark3);
}
.m-light-blue.dark4 {
  background-color: var(--c-m-light-blue-dark4);
}
.m-light-blue-txt.t-dark4 {
  color: var(--c-m-light-blue-dark4);
}
.m-light-blue.accent1 {
  background-color: var(--c-m-light-blue-accent1);
}
.m-light-blue-txt.t-accent1 {
  color: var(--c-m-light-blue-accent1);
}
.m-light-blue.accent2 {
  background-color: var(--c-m-light-blue-accent2);
}
.m-light-blue-txt.t-accent2 {
  color: var(--c-m-light-blue-accent2);
}
.m-light-blue.accent3 {
  background-color: var(--c-m-light-blue-accent3);
}
.m-light-blue-txt.t-accent3 {
  color: var(--c-m-light-blue-accent3);
}
.m-light-blue.accent4 {
  background-color: var(--c-m-light-blue-accent4);
}
.m-light-blue-txt.t-accent4 {
  color: var(--c-m-light-blue-accent4);
}
.m-cyan.light5 {
  background-color: var(--c-m-cyan-light5);
}
.m-cyan-txt.t-light5 {
  color: var(--c-m-cyan-light5);
}
.m-cyan.light4 {
  background-color: var(--c-m-cyan-light4);
}
.m-cyan-txt.t-light4 {
  color: var(--c-m-cyan-light4);
}
.m-cyan.light3 {
  background-color: var(--c-m-cyan-light3);
}
.m-cyan-txt.t-light3 {
  color: var(--c-m-cyan-light3);
}
.m-cyan.light2 {
  background-color: var(--c-m-cyan-light2);
}
.m-cyan-txt.t-light2 {
  color: var(--c-m-cyan-light2);
}
.m-cyan.light1 {
  background-color: var(--c-m-cyan-light1);
}
.m-cyan-txt.t-light1 {
  color: var(--c-m-cyan-light1);
}
.m-cyan {
  background-color: var(--c-m-cyan);
}
.m-cyan-txt {
  color: var(--c-m-cyan);
}
.m-cyan.dark1 {
  background-color: var(--c-m-cyan-dark1);
}
.m-cyan-txt.t-dark1 {
  color: var(--c-m-cyan-dark1);
}
.m-cyan.dark2 {
  background-color: var(--c-m-cyan-dark2);
}
.m-cyan-txt.t-dark2 {
  color: var(--c-m-cyan-dark2);
}
.m-cyan.dark3 {
  background-color: var(--c-m-cyan-dark3);
}
.m-cyan-txt.t-dark3 {
  color: var(--c-m-cyan-dark3);
}
.m-cyan.dark4 {
  background-color: var(--c-m-cyan-dark4);
}
.m-cyan-txt.t-dark4 {
  color: var(--c-m-cyan-dark4);
}
.m-cyan.accent1 {
  background-color: var(--c-m-cyan-accent1);
}
.m-cyan-txt.t-accent1 {
  color: var(--c-m-cyan-accent1);
}
.m-cyan.accent2 {
  background-color: var(--c-m-cyan-accent2);
}
.m-cyan-txt.t-accent2 {
  color: var(--c-m-cyan-accent2);
}
.m-cyan.accent3 {
  background-color: var(--c-m-cyan-accent3);
}
.m-cyan-txt.t-accent3 {
  color: var(--c-m-cyan-accent3);
}
.m-cyan.accent4 {
  background-color: var(--c-m-cyan-accent4);
}
.m-cyan-txt.t-accent4 {
  color: var(--c-m-cyan-accent4);
}
.m-teal.light5 {
  background-color: var(--c-m-teal-light5);
}
.m-teal-txt.t-light5 {
  color: var(--c-m-teal-light5);
}
.m-teal.light4 {
  background-color: var(--c-m-teal-light4);
}
.m-teal-txt.t-light4 {
  color: var(--c-m-teal-light4);
}
.m-teal.light3 {
  background-color: var(--c-m-teal-light3);
}
.m-teal-txt.t-light3 {
  color: var(--c-m-teal-light3);
}
.m-teal.light2 {
  background-color: var(--c-m-teal-light2);
}
.m-teal-txt.t-light2 {
  color: var(--c-m-teal-light2);
}
.m-teal.light1 {
  background-color: var(--c-m-teal-light1);
}
.m-teal-txt.t-light1 {
  color: var(--c-m-teal-light1);
}
.m-teal {
  background-color: var(--c-m-teal);
}
.m-teal-txt {
  color: var(--c-m-teal);
}
.m-teal.dark1 {
  background-color: var(--c-m-teal-dark1);
}
.m-teal-txt.t-dark1 {
  color: var(--c-m-teal-dark1);
}
.m-teal.dark2 {
  background-color: var(--c-m-teal-dark2);
}
.m-teal-txt.t-dark2 {
  color: var(--c-m-teal-dark2);
}
.m-teal.dark3 {
  background-color: var(--c-m-teal-dark3);
}
.m-teal-txt.t-dark3 {
  color: var(--c-m-teal-dark3);
}
.m-teal.dark4 {
  background-color: var(--c-m-teal-dark4);
}
.m-teal-txt.t-dark4 {
  color: var(--c-m-teal-dark4);
}
.m-teal.accent1 {
  background-color: var(--c-m-teal-accent1);
}
.m-teal-txt.t-accent1 {
  color: var(--c-m-teal-accent1);
}
.m-teal.accent2 {
  background-color: var(--c-m-teal-accent2);
}
.m-teal-txt.t-accent2 {
  color: var(--c-m-teal-accent2);
}
.m-teal.accent3 {
  background-color: var(--c-m-teal-accent3);
}
.m-teal-txt.t-accent3 {
  color: var(--c-m-teal-accent3);
}
.m-teal.accent4 {
  background-color: var(--c-m-teal-accent4);
}
.m-teal-txt.t-accent4 {
  color: var(--c-m-teal-accent4);
}
.m-green.light5 {
  background-color: var(--c-m-green-light5);
}
.m-green-txt.t-light5 {
  color: var(--c-m-green-light5);
}
.m-green.light4 {
  background-color: var(--c-m-green-light4);
}
.m-green-txt.t-light4 {
  color: var(--c-m-green-light4);
}
.m-green.light3 {
  background-color: var(--c-m-green-light3);
}
.m-green-txt.t-light3 {
  color: var(--c-m-green-light3);
}
.m-green.light2 {
  background-color: var(--c-m-green-light2);
}
.m-green-txt.t-light2 {
  color: var(--c-m-green-light2);
}
.m-green.light1 {
  background-color: var(--c-m-green-light1);
}
.m-green-txt.t-light1 {
  color: var(--c-m-green-light1);
}
.m-green {
  background-color: var(--c-m-green);
}
.m-green-txt {
  color: var(--c-m-green);
}
.m-green.dark1 {
  background-color: var(--c-m-green-dark1);
}
.m-green-txt.t-dark1 {
  color: var(--c-m-green-dark1);
}
.m-green.dark2 {
  background-color: var(--c-m-green-dark2);
}
.m-green-txt.t-dark2 {
  color: var(--c-m-green-dark2);
}
.m-green.dark3 {
  background-color: var(--c-m-green-dark3);
}
.m-green-txt.t-dark3 {
  color: var(--c-m-green-dark3);
}
.m-green.dark4 {
  background-color: var(--c-m-green-dark4);
}
.m-green-txt.t-dark4 {
  color: var(--c-m-green-dark4);
}
.m-green.accent1 {
  background-color: var(--c-m-green-accent1);
}
.m-green-txt.t-accent1 {
  color: var(--c-m-green-accent1);
}
.m-green.accent2 {
  background-color: var(--c-m-green-accent2);
}
.m-green-txt.t-accent2 {
  color: var(--c-m-green-accent2);
}
.m-green.accent3 {
  background-color: var(--c-m-green-accent3);
}
.m-green-txt.t-accent3 {
  color: var(--c-m-green-accent3);
}
.m-green.accent4 {
  background-color: var(--c-m-green-accent4);
}
.m-green-txt.t-accent4 {
  color: var(--c-m-green-accent4);
}
.m-light-green.light5 {
  background-color: var(--c-m-light-green-light5);
}
.m-light-green-txt.t-light5 {
  color: var(--c-m-light-green-light5);
}
.m-light-green.light4 {
  background-color: var(--c-m-light-green-light4);
}
.m-light-green-txt.t-light4 {
  color: var(--c-m-light-green-light4);
}
.m-light-green.light3 {
  background-color: var(--c-m-light-green-light3);
}
.m-light-green-txt.t-light3 {
  color: var(--c-m-light-green-light3);
}
.m-light-green.light2 {
  background-color: var(--c-m-light-green-light2);
}
.m-light-green-txt.t-light2 {
  color: var(--c-m-light-green-light2);
}
.m-light-green.light1 {
  background-color: var(--c-m-light-green-light1);
}
.m-light-green-txt.t-light1 {
  color: var(--c-m-light-green-light1);
}
.m-light-green {
  background-color: var(--c-m-light-green);
}
.m-light-green-txt {
  color: var(--c-m-light-green);
}
.m-light-green.dark1 {
  background-color: var(--c-m-light-green-dark1);
}
.m-light-green-txt.t-dark1 {
  color: var(--c-m-light-green-dark1);
}
.m-light-green.dark2 {
  background-color: var(--c-m-light-green-dark2);
}
.m-light-green-txt.t-dark2 {
  color: var(--c-m-light-green-dark2);
}
.m-light-green.dark3 {
  background-color: var(--c-m-light-green-dark3);
}
.m-light-green-txt.t-dark3 {
  color: var(--c-m-light-green-dark3);
}
.m-light-green.dark4 {
  background-color: var(--c-m-light-green-dark4);
}
.m-light-green-txt.t-dark4 {
  color: var(--c-m-light-green-dark4);
}
.m-light-green.accent1 {
  background-color: var(--c-m-light-green-accent1);
}
.m-light-green-txt.t-accent1 {
  color: var(--c-m-light-green-accent1);
}
.m-light-green.accent2 {
  background-color: var(--c-m-light-green-accent2);
}
.m-light-green-txt.t-accent2 {
  color: var(--c-m-light-green-accent2);
}
.m-light-green.accent3 {
  background-color: var(--c-m-light-green-accent3);
}
.m-light-green-txt.t-accent3 {
  color: var(--c-m-light-green-accent3);
}
.m-light-green.accent4 {
  background-color: var(--c-m-light-green-accent4);
}
.m-light-green-txt.t-accent4 {
  color: var(--c-m-light-green-accent4);
}
.m-lime.light5 {
  background-color: var(--c-m-lime-light5);
}
.m-lime-txt.t-light5 {
  color: var(--c-m-lime-light5);
}
.m-lime.light4 {
  background-color: var(--c-m-lime-light4);
}
.m-lime-txt.t-light4 {
  color: var(--c-m-lime-light4);
}
.m-lime.light3 {
  background-color: var(--c-m-lime-light3);
}
.m-lime-txt.t-light3 {
  color: var(--c-m-lime-light3);
}
.m-lime.light2 {
  background-color: var(--c-m-lime-light2);
}
.m-lime-txt.t-light2 {
  color: var(--c-m-lime-light2);
}
.m-lime.light1 {
  background-color: var(--c-m-lime-light1);
}
.m-lime-txt.t-light1 {
  color: var(--c-m-lime-light1);
}
.m-lime {
  background-color: var(--c-m-lime);
}
.m-lime-txt {
  color: var(--c-m-lime);
}
.m-lime.dark1 {
  background-color: var(--c-m-lime-dark1);
}
.m-lime-txt.t-dark1 {
  color: var(--c-m-lime-dark1);
}
.m-lime.dark2 {
  background-color: var(--c-m-lime-dark2);
}
.m-lime-txt.t-dark2 {
  color: var(--c-m-lime-dark2);
}
.m-lime.dark3 {
  background-color: var(--c-m-lime-dark3);
}
.m-lime-txt.t-dark3 {
  color: var(--c-m-lime-dark3);
}
.m-lime.dark4 {
  background-color: var(--c-m-lime-dark4);
}
.m-lime-txt.t-dark4 {
  color: var(--c-m-lime-dark4);
}
.m-lime.accent1 {
  background-color: var(--c-m-lime-accent1);
}
.m-lime-txt.t-accent1 {
  color: var(--c-m-lime-accent1);
}
.m-lime.accent2 {
  background-color: var(--c-m-lime-accent2);
}
.m-lime-txt.t-accent2 {
  color: var(--c-m-lime-accent2);
}
.m-lime.accent3 {
  background-color: var(--c-m-lime-accent3);
}
.m-lime-txt.t-accent3 {
  color: var(--c-m-lime-accent3);
}
.m-lime.accent4 {
  background-color: var(--c-m-lime-accent4);
}
.m-lime-txt.t-accent4 {
  color: var(--c-m-lime-accent4);
}
.m-yellow.light5 {
  background-color: var(--c-m-yellow-light5);
}
.m-yellow-txt.t-light5 {
  color: var(--c-m-yellow-light5);
}
.m-yellow.light4 {
  background-color: var(--c-m-yellow-light4);
}
.m-yellow-txt.t-light4 {
  color: var(--c-m-yellow-light4);
}
.m-yellow.light3 {
  background-color: var(--c-m-yellow-light3);
}
.m-yellow-txt.t-light3 {
  color: var(--c-m-yellow-light3);
}
.m-yellow.light2 {
  background-color: var(--c-m-yellow-light2);
}
.m-yellow-txt.t-light2 {
  color: var(--c-m-yellow-light2);
}
.m-yellow.light1 {
  background-color: var(--c-m-yellow-light1);
}
.m-yellow-txt.t-light1 {
  color: var(--c-m-yellow-light1);
}
.m-yellow {
  background-color: var(--c-m-yellow);
}
.m-yellow-txt {
  color: var(--c-m-yellow);
}
.m-yellow.dark1 {
  background-color: var(--c-m-yellow-dark1);
}
.m-yellow-txt.t-dark1 {
  color: var(--c-m-yellow-dark1);
}
.m-yellow.dark2 {
  background-color: var(--c-m-yellow-dark2);
}
.m-yellow-txt.t-dark2 {
  color: var(--c-m-yellow-dark2);
}
.m-yellow.dark3 {
  background-color: var(--c-m-yellow-dark3);
}
.m-yellow-txt.t-dark3 {
  color: var(--c-m-yellow-dark3);
}
.m-yellow.dark4 {
  background-color: var(--c-m-yellow-dark4);
}
.m-yellow-txt.t-dark4 {
  color: var(--c-m-yellow-dark4);
}
.m-yellow.accent1 {
  background-color: var(--c-m-yellow-accent1);
}
.m-yellow-txt.t-accent1 {
  color: var(--c-m-yellow-accent1);
}
.m-yellow.accent2 {
  background-color: var(--c-m-yellow-accent2);
}
.m-yellow-txt.t-accent2 {
  color: var(--c-m-yellow-accent2);
}
.m-yellow.accent3 {
  background-color: var(--c-m-yellow-accent3);
}
.m-yellow-txt.t-accent3 {
  color: var(--c-m-yellow-accent3);
}
.m-yellow.accent4 {
  background-color: var(--c-m-yellow-accent4);
}
.m-yellow-txt.t-accent4 {
  color: var(--c-m-yellow-accent4);
}
.m-amber.light5 {
  background-color: var(--c-m-amber-light5);
}
.m-amber-txt.t-light5 {
  color: var(--c-m-amber-light5);
}
.m-amber.light4 {
  background-color: var(--c-m-amber-light4);
}
.m-amber-txt.t-light4 {
  color: var(--c-m-amber-light4);
}
.m-amber.light3 {
  background-color: var(--c-m-amber-light3);
}
.m-amber-txt.t-light3 {
  color: var(--c-m-amber-light3);
}
.m-amber.light2 {
  background-color: var(--c-m-amber-light2);
}
.m-amber-txt.t-light2 {
  color: var(--c-m-amber-light2);
}
.m-amber.light1 {
  background-color: var(--c-m-amber-light1);
}
.m-amber-txt.t-light1 {
  color: var(--c-m-amber-light1);
}
.m-amber {
  background-color: var(--c-m-amber);
}
.m-amber-txt {
  color: var(--c-m-amber);
}
.m-amber.dark1 {
  background-color: var(--c-m-amber-dark1);
}
.m-amber-txt.t-dark1 {
  color: var(--c-m-amber-dark1);
}
.m-amber.dark2 {
  background-color: var(--c-m-amber-dark2);
}
.m-amber-txt.t-dark2 {
  color: var(--c-m-amber-dark2);
}
.m-amber.dark3 {
  background-color: var(--c-m-amber-dark3);
}
.m-amber-txt.t-dark3 {
  color: var(--c-m-amber-dark3);
}
.m-amber.dark4 {
  background-color: var(--c-m-amber-dark4);
}
.m-amber-txt.t-dark4 {
  color: var(--c-m-amber-dark4);
}
.m-amber.accent1 {
  background-color: var(--c-m-amber-accent1);
}
.m-amber-txt.t-accent1 {
  color: var(--c-m-amber-accent1);
}
.m-amber.accent2 {
  background-color: var(--c-m-amber-accent2);
}
.m-amber-txt.t-accent2 {
  color: var(--c-m-amber-accent2);
}
.m-amber.accent3 {
  background-color: var(--c-m-amber-accent3);
}
.m-amber-txt.t-accent3 {
  color: var(--c-m-amber-accent3);
}
.m-amber.accent4 {
  background-color: var(--c-m-amber-accent4);
}
.m-amber-txt.t-accent4 {
  color: var(--c-m-amber-accent4);
}
.m-orange.light5 {
  background-color: var(--c-m-orange-light5);
}
.m-orange-txt.t-light5 {
  color: var(--c-m-orange-light5);
}
.m-orange.light4 {
  background-color: var(--c-m-orange-light4);
}
.m-orange-txt.t-light4 {
  color: var(--c-m-orange-light4);
}
.m-orange.light3 {
  background-color: var(--c-m-orange-light3);
}
.m-orange-txt.t-light3 {
  color: var(--c-m-orange-light3);
}
.m-orange.light2 {
  background-color: var(--c-m-orange-light2);
}
.m-orange-txt.t-light2 {
  color: var(--c-m-orange-light2);
}
.m-orange.light1 {
  background-color: var(--c-m-orange-light1);
}
.m-orange-txt.t-light1 {
  color: var(--c-m-orange-light1);
}
.m-orange {
  background-color: var(--c-m-orange);
}
.m-orange-txt {
  color: var(--c-m-orange);
}
.m-orange.dark1 {
  background-color: var(--c-m-orange-dark1);
}
.m-orange-txt.t-dark1 {
  color: var(--c-m-orange-dark1);
}
.m-orange.dark2 {
  background-color: var(--c-m-orange-dark2);
}
.m-orange-txt.t-dark2 {
  color: var(--c-m-orange-dark2);
}
.m-orange.dark3 {
  background-color: var(--c-m-orange-dark3);
}
.m-orange-txt.t-dark3 {
  color: var(--c-m-orange-dark3);
}
.m-orange.dark4 {
  background-color: var(--c-m-orange-dark4);
}
.m-orange-txt.t-dark4 {
  color: var(--c-m-orange-dark4);
}
.m-orange.accent1 {
  background-color: var(--c-m-orange-accent1);
}
.m-orange-txt.t-accent1 {
  color: var(--c-m-orange-accent1);
}
.m-orange.accent2 {
  background-color: var(--c-m-orange-accent2);
}
.m-orange-txt.t-accent2 {
  color: var(--c-m-orange-accent2);
}
.m-orange.accent3 {
  background-color: var(--c-m-orange-accent3);
}
.m-orange-txt.t-accent3 {
  color: var(--c-m-orange-accent3);
}
.m-orange.accent4 {
  background-color: var(--c-m-orange-accent4);
}
.m-orange-txt.t-accent4 {
  color: var(--c-m-orange-accent4);
}
.m-deep-orange.light5 {
  background-color: var(--c-m-deep-orange-light5);
}
.m-deep-orange-txt.t-light5 {
  color: var(--c-m-deep-orange-light5);
}
.m-deep-orange.light4 {
  background-color: var(--c-m-deep-orange-light4);
}
.m-deep-orange-txt.t-light4 {
  color: var(--c-m-deep-orange-light4);
}
.m-deep-orange.light3 {
  background-color: var(--c-m-deep-orange-light3);
}
.m-deep-orange-txt.t-light3 {
  color: var(--c-m-deep-orange-light3);
}
.m-deep-orange.light2 {
  background-color: var(--c-m-deep-orange-light2);
}
.m-deep-orange-txt.t-light2 {
  color: var(--c-m-deep-orange-light2);
}
.m-deep-orange.light1 {
  background-color: var(--c-m-deep-orange-light1);
}
.m-deep-orange-txt.t-light1 {
  color: var(--c-m-deep-orange-light1);
}
.m-deep-orange {
  background-color: var(--c-m-deep-orange);
}
.m-deep-orange-txt {
  color: var(--c-m-deep-orange);
}
.m-deep-orange.dark1 {
  background-color: var(--c-m-deep-orange-dark1);
}
.m-deep-orange-txt.t-dark1 {
  color: var(--c-m-deep-orange-dark1);
}
.m-deep-orange.dark2 {
  background-color: var(--c-m-deep-orange-dark2);
}
.m-deep-orange-txt.t-dark2 {
  color: var(--c-m-deep-orange-dark2);
}
.m-deep-orange.dark3 {
  background-color: var(--c-m-deep-orange-dark3);
}
.m-deep-orange-txt.t-dark3 {
  color: var(--c-m-deep-orange-dark3);
}
.m-deep-orange.dark4 {
  background-color: var(--c-m-deep-orange-dark4);
}
.m-deep-orange-txt.t-dark4 {
  color: var(--c-m-deep-orange-dark4);
}
.m-deep-orange.accent1 {
  background-color: var(--c-m-deep-orange-accent1);
}
.m-deep-orange-txt.t-accent1 {
  color: var(--c-m-deep-orange-accent1);
}
.m-deep-orange.accent2 {
  background-color: var(--c-m-deep-orange-accent2);
}
.m-deep-orange-txt.t-accent2 {
  color: var(--c-m-deep-orange-accent2);
}
.m-deep-orange.accent3 {
  background-color: var(--c-m-deep-orange-accent3);
}
.m-deep-orange-txt.t-accent3 {
  color: var(--c-m-deep-orange-accent3);
}
.m-deep-orange.accent4 {
  background-color: var(--c-m-deep-orange-accent4);
}
.m-deep-orange-txt.t-accent4 {
  color: var(--c-m-deep-orange-accent4);
}
.m-brown.light5 {
  background-color: var(--c-m-brown-light5);
}
.m-brown-txt.t-light5 {
  color: var(--c-m-brown-light5);
}
.m-brown.light4 {
  background-color: var(--c-m-brown-light4);
}
.m-brown-txt.t-light4 {
  color: var(--c-m-brown-light4);
}
.m-brown.light3 {
  background-color: var(--c-m-brown-light3);
}
.m-brown-txt.t-light3 {
  color: var(--c-m-brown-light3);
}
.m-brown.light2 {
  background-color: var(--c-m-brown-light2);
}
.m-brown-txt.t-light2 {
  color: var(--c-m-brown-light2);
}
.m-brown.light1 {
  background-color: var(--c-m-brown-light1);
}
.m-brown-txt.t-light1 {
  color: var(--c-m-brown-light1);
}
.m-brown {
  background-color: var(--c-m-brown);
}
.m-brown-txt {
  color: var(--c-m-brown);
}
.m-brown.dark1 {
  background-color: var(--c-m-brown-dark1);
}
.m-brown-txt.t-dark1 {
  color: var(--c-m-brown-dark1);
}
.m-brown.dark2 {
  background-color: var(--c-m-brown-dark2);
}
.m-brown-txt.t-dark2 {
  color: var(--c-m-brown-dark2);
}
.m-brown.dark3 {
  background-color: var(--c-m-brown-dark3);
}
.m-brown-txt.t-dark3 {
  color: var(--c-m-brown-dark3);
}
.m-brown.dark4 {
  background-color: var(--c-m-brown-dark4);
}
.m-brown-txt.t-dark4 {
  color: var(--c-m-brown-dark4);
}
.m-gray.light5 {
  background-color: var(--c-m-gray-light5);
}
.m-gray-txt.t-light5 {
  color: var(--c-m-gray-light5);
}
.m-gray.light4 {
  background-color: var(--c-m-gray-light4);
}
.m-gray-txt.t-light4 {
  color: var(--c-m-gray-light4);
}
.m-gray.light3 {
  background-color: var(--c-m-gray-light3);
}
.m-gray-txt.t-light3 {
  color: var(--c-m-gray-light3);
}
.m-gray.light2 {
  background-color: var(--c-m-gray-light2);
}
.m-gray-txt.t-light2 {
  color: var(--c-m-gray-light2);
}
.m-gray.light1 {
  background-color: var(--c-m-gray-light1);
}
.m-gray-txt.t-light1 {
  color: var(--c-m-gray-light1);
}
.m-gray {
  background-color: var(--c-m-gray);
}
.m-gray-txt {
  color: var(--c-m-gray);
}
.m-gray.dark1 {
  background-color: var(--c-m-gray-dark1);
}
.m-gray-txt.t-dark1 {
  color: var(--c-m-gray-dark1);
}
.m-gray.dark2 {
  background-color: var(--c-m-gray-dark2);
}
.m-gray-txt.t-dark2 {
  color: var(--c-m-gray-dark2);
}
.m-gray.dark3 {
  background-color: var(--c-m-gray-dark3);
}
.m-gray-txt.t-dark3 {
  color: var(--c-m-gray-dark3);
}
.m-gray.dark4 {
  background-color: var(--c-m-gray-dark4);
}
.m-gray-txt.t-dark4 {
  color: var(--c-m-gray-dark4);
}
.m-blue-gray.light5 {
  background-color: var(--c-m-blue-gray-light5);
}
.m-blue-gray-txt.t-light5 {
  color: var(--c-m-blue-gray-light5);
}
.m-blue-gray.light4 {
  background-color: var(--c-m-blue-gray-light4);
}
.m-blue-gray-txt.t-light4 {
  color: var(--c-m-blue-gray-light4);
}
.m-blue-gray.light3 {
  background-color: var(--c-m-blue-gray-light3);
}
.m-blue-gray-txt.t-light3 {
  color: var(--c-m-blue-gray-light3);
}
.m-blue-gray.light2 {
  background-color: var(--c-m-blue-gray-light2);
}
.m-blue-gray-txt.t-light2 {
  color: var(--c-m-blue-gray-light2);
}
.m-blue-gray.light1 {
  background-color: var(--c-m-blue-gray-light1);
}
.m-blue-gray-txt.t-light1 {
  color: var(--c-m-blue-gray-light1);
}
.m-blue-gray {
  background-color: var(--c-m-blue-gray);
}
.m-blue-gray-txt {
  color: var(--c-m-blue-gray);
}
.m-blue-gray.dark1 {
  background-color: var(--c-m-blue-gray-dark1);
}
.m-blue-gray-txt.t-dark1 {
  color: var(--c-m-blue-gray-dark1);
}
.m-blue-gray.dark2 {
  background-color: var(--c-m-blue-gray-dark2);
}
.m-blue-gray-txt.t-dark2 {
  color: var(--c-m-blue-gray-dark2);
}
.m-blue-gray.dark3 {
  background-color: var(--c-m-blue-gray-dark3);
}
.m-blue-gray-txt.t-dark3 {
  color: var(--c-m-blue-gray-dark3);
}
.m-blue-gray.dark4 {
  background-color: var(--c-m-blue-gray-dark4);
}
.m-blue-gray-txt.t-dark4 {
  color: var(--c-m-blue-gray-dark4);
}
.d-gray.light2 {
  background-color: var(--c-d-gray-light2);
}
.d-gray-txt.t-light2 {
  color: var(--c-d-gray-light2);
}
.d-gray.light1 {
  background-color: var(--c-d-gray-light1);
}
.d-gray-txt.t-light1 {
  color: var(--c-d-gray-light1);
}
.d-gray {
  background-color: var(--c-d-gray);
}
.d-gray-txt {
  color: var(--c-d-gray);
}
.d-gray.dark1 {
  background-color: var(--c-d-gray-dark1);
}
.d-gray-txt.t-dark1 {
  color: var(--c-d-gray-dark1);
}
.d-gray.dark2 {
  background-color: var(--c-d-gray-dark2);
}
.d-gray-txt.t-dark2 {
  color: var(--c-d-gray-dark2);
}
.d-gray.dark3 {
  background-color: var(--c-d-gray-dark3);
}
.d-gray-txt.t-dark3 {
  color: var(--c-d-gray-dark3);
}
.d-red {
  background-color: var(--c-d-red);
}
.d-red-txt {
  color: var(--c-d-red);
}
.d-green {
  background-color: var(--c-d-green);
}
.d-green-txt {
  color: var(--c-d-green);
}
.d-blue {
  background-color: var(--c-d-blue);
}
.d-blue-txt {
  color: var(--c-d-blue);
}
.d-orange {
  background-color: var(--c-d-orange);
}
.d-orange-txt {
  color: var(--c-d-orange);
}
.d-deep-orange {
  background-color: var(--c-d-deep-orange);
}
.d-deep-orange-txt {
  color: var(--c-d-deep-orange);
}
.d-light-gray {
  background-color: var(--c-d-light-gray);
}
.d-light-gray-txt {
  color: var(--c-d-light-gray);
}
.black {
  background-color: var(--c-black);
}
.black-txt {
  color: var(--c-black);
}
.white {
  background-color: var(--c-white);
}
.white-txt {
  color: var(--c-white);
}
.transparent {
  background-color: var(--c-transparent);
}
.transparent-txt {
  color: var(--c-transparent);
}
